
/*******************************flex***************************/

    @import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);

* {
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
  box-sizing:border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #eaeaea;
  font-family: 'Josefin Slab', serif;
}

.perspective {
  width: 100%;
  height: 100%;
  perspective:1000px;
  transform-style: preserve-3d;
}

.wrapper {
  transform-style: preserve-3d;
  margin: 0 auto;
  width:100%;
  height:100%;
  transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;
  display:flex;
}

.wrapper li {
  flex-grow: 1;
  opacity:0.8;
  padding:200px 0;
  font-size:56px;
  transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;
  text-align:center;
  color:#fff;
  cursor:pointer;
  background-size:cover !important;
}

.wrapper li:nth-of-type(1) {
/*  background: url(https://images.unsplash.com/photo-1441260038675-7329ab4cc264?q=80&fm=jpg&s=b1c4700b303adfae30ee320aca07328a) no-repeat center center;*/
}
.wrapper li:nth-of-type(2) {
  background: url(https://images.unsplash.com/photo-1436564989038-18b9958df72b?q=80&fm=jpg&s=63f82ffb3fa7effd45c79e0379dbdee6) no-repeat center center;
}
.wrapper li:nth-of-type(3) {
  background: url(https://images.unsplash.com/photo-1436397543931-01c4a5162bdb?q=80&fm=jpg&s=29b3d57347ca107a06e5cfe262f24ef1) no-repeat center center;
}
/*
.wrapper li:nth-of-type(4) {
  background: url(https://images.unsplash.com/photo-1437623889155-075d40e2e59f?q=80&fm=jpg&s=51e3e297c2171808e0610d00b970bf7b) no-repeat center center;
}
.wrapper li:nth-of-type(5) {
  background: url(https://images.unsplash.com/photo-1428954376791-d9ae785dfb2d?q=80&fm=jpg&s=2b9da0d2264050e32ad8ac8213a76a78) no-repeat center center;
}
.wrapper li:nth-of-type(6) {
  background: url(https://images.unsplash.com/photo-1422433555807-2559a27433bd?q=80&fm=jpg&s=f4a3f331eed09d297e2a71e3dfea402d) no-repeat center center;
}
*/

/*
.plier {
  transform: rotateX(20deg);
  transform-origin:bottom;
}
*/

/*
.wrapper li.active {
  transition-delay:1s;
}
*/

.active{
  transform: rotateX(0deg);
  transform-origin:bottom;
  flex-grow: 30 !important;
  cursor:default;
  opacity:1 !important;
}

/**********************************************************/
.first {

/*
    height: 100vh;
    margin: 0 auto;
    background-image: url(../img/img2.jpg);
        background-size: 100% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
*/
     background-color: #f1f1f1;
      background-size: 22px 22px;

      background-image:
-webkit-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 2px, transparent 15px),
-webkit-repeating-linear-gradient(-45deg, pink, pink 1px, transparent 2px, transparent 15px);


      background-image:
-moz-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 2px, transparent 15px),
-moz-repeating-linear-gradient(-45deg, pink, pink 1px, transparent 2px, transparent 15px);


      background-image:
-o-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 2px, transparent 15px),
-o-repeating-linear-gradient(-45deg, pink, pink 1px, transparent 2px, transparent 15px);


      background-image:
repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 2px, transparent 15px),
repeating-linear-gradient(-45deg, pink, pink 1px, transparent 2px, transparent 15px);
    height: 100vh;
}
.first h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(blue, rgba(0, 191, 255, .5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
/*            1px 0px 1px #ccc, 0px 1px 1px #eee, */
/*            2px 1px 1px #ccc, 1px 2px 1px #eee,*/
            3px 2px 1px #ccc, 2px 3px 1px #eee,
            4px 3px 1px #ccc, 3px 4px 1px #eee,
            5px 4px 1px #ccc, 4px 5px 1px #eee,
            6px 5px 1px #ccc, 5px 6px 1px #eee,
            7px 6px 1px #ccc;
}

body {
/*  background: #824438;*/
}

.face {

  width: 300px;
}

.first h1:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }

/******************************************************Animated Acrodion*******************************/

.acidjs-horizontal-accordion,
.acidjs-horizontal-accordion > form > ul > li > div,
.acidjs-horizontal-accordion > form > ul > li > label
{
    overflow: hidden;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.acidjs-horizontal-accordion > form > ul,
.acidjs-horizontal-accordion > form > ul > *
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.acidjs-horizontal-accordion > form > ul,
.acidjs-horizontal-accordion > form > ul > li > div
{
    height: 159px; /* height of the accordion */
}

.acidjs-horizontal-accordion,
.acidjs-horizontal-accordion > form > ul > li > input:checked + label
{
    background: #2f343a;
}

.acidjs-horizontal-accordion > form > ul > li > input,
.acidjs-horizontal-accordion > form > ul > li > label
{
    position: absolute;
}

.acidjs-horizontal-accordion > form > ul > li,
.acidjs-horizontal-accordion > form > ul > li:last-child
{
    border: solid 1px rgba(255,255, 255, .75);
}

.acidjs-horizontal-accordion
{
    font-family: Arial, Helvetica, Sans-serif;
    padding: 1px;
    cursor: default;
}

.acidjs-horizontal-accordion > form > ul > li > label
{
    display: block;
    width: 159px; /* height of the accordion button */
    padding: 0 8px;
    
    letter-spacing: 1px;
    font: bold 14px/32px "Arial Rounded MT", Arial, Helvetica, Sans-serif;
    background: #e74c3c;
    color: #fff;
    text-align: right;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    text-overflow: ellipsis;
    white-space: nowrap;
    
    -webkit-transition: all .3s cubic-bezier(.09, .11, .24, .91);
    -moz-transition: all .3s cubic-bezier(.09, .11, .24, .91);
    -ms-transition: all .3s cubic-bezier(.09, .11, .24, .91);
    -o-transition: all .3s cubic-bezier(.09, .11, .24, .91);
    transition: all .3s cubic-bezier(.09, .11, .24, .91);
    
    -webkit-transform: translateX(-100%) rotate(-90deg);
    -moz-transform: translateX(-100%) rotate(-90deg);
    -ms-transform: translateX(-100%) rotate(-90deg);
    -o-transform: translateX(-100%) rotate(-90deg);
    transform: translateX(-100%) rotate(-90deg);
    
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.acidjs-horizontal-accordion > form > ul > li > input:not(:checked) + label:hover
{
    background: #e02f1c;
}

.acidjs-horizontal-accordion > form > ul > li > input:checked + label
{
    border-bottom-color: transparent;
    color: rgba(255, 255, 255, .5);
}

.acidjs-horizontal-accordion > form > ul > li
{
    float: left;
    padding: 0 32px 0 0;
    border-right: 0;
}

.acidjs-horizontal-accordion > form > ul > li > input
{
    opacity: 0; /* we hide the radio button with opacity and position: absolute in order to preserve the keyboard arrow navigation */
}


.acidjs-horizontal-accordion > form > ul > li > div
{
    width: 0;
    font-size: 10px;
    color: #fff;
    margin: 0 -32px 0 32px;
    
    -webkit-transition: width .3s cubic-bezier(.09, .11, .24, .91);
    -moz-transition: width .3s cubic-bezier(.09, .11, .24, .91);
    -ms-transition: width .3s cubic-bezier(.09, .11, .24, .91);
    -o-transition: width .3s cubic-bezier(.09, .11, .24, .91);
    transition: width .3s cubic-bezier(.09, .11, .24, .91);
}

.acidjs-horizontal-accordion > form > ul > li > input:checked ~ div
{
    width: 220px;
    padding: 8px;
    overflow: auto;
}
